/* Colors */
/* Fonts */
/* Borders */
/* Colors */
/* Fonts */
/* Borders */
body {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  margin: 0; }

h2 {
  font-size: 20px; }

input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }

.divider {
  width: 100%;
  height: 1px;
  background-color: #ebebeb; }

.desktop-hidden {
  display: none; }

.desktop-hidden-630 {
  display: none; }

image {
  border: none; }

footer {
  width: 100%;
  background-color: #464F55;
  overflow: auto; }
  footer h3 {
    font-weight: 600;
    color: white;
    font-size: 14px; }
  footer ul {
    font-size: 0;
    padding: 0; }
  footer li {
    font-size: 14px;
    color: #9A9CA0;
    margin-top: 10px;
    list-style-type: none; }
  footer p {
    font-size: 14px;
    color: #9A9CA0;
    margin-top: 10px; }
    footer p span {
      color: white; }

#footer-row {
  width: 1400px;
  margin: auto;
  padding-top: 75px;
  overflow: auto; }

.footer-box {
  float: left;
  width: 16.66%; }

.footer-box-lg {
  float: left;
  width: 25%; }

#sheepbuy-desc {
  padding-right: 60px; }

.logo-white {
  height: 18px; }

#footer-social-row {
  margin-top: 10px; }
  #footer-social-row div {
    position: relative;
    float: left;
    background-color: #586065;
    width: 48px;
    height: 54px;
    background-size: auto 18px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 20px; }
    #footer-social-row div:nth-last-child(1) {
      margin-right: 0; }
  #footer-social-row a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

#footer-fb {
  background-image: url("../img/fb-icon.png"); }

#footer-insta {
  background-image: url("../img/insta-icon.png"); }

#footer-twitter {
  background-image: url("../img/twitter-icon.png"); }

#footer-terms {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  margin-bottom: 30px; }
  #footer-terms span {
    padding-left: 16px;
    padding-right: 16px; }

@media only screen and (max-width: 1510px) {
  #footer-row {
    width: 900px; } }

@media only screen and (max-width: 965px) {
  #footer-row {
    padding-top: 30px; } }

@media only screen and (max-width: 910px) {
  .f-mobile-hidden {
    display: none; }
  #sheepbuy-desc {
    margin-bottom: 40px; }
  #footer-row {
    width: 100%;
    overflow: hidden; }
  .footer-box-lg {
    padding-left: 20px;
    padding-right: 20px;
    float: none;
    clear: both;
    width: 100%;
    margin: auto; }
    .footer-box-lg:nth-last-child(1) {
      padding-left: 0; }
  .footer-box {
    padding-left: 20px;
    padding-right: 20px;
    width: 30%;
    padding: 0;
    margin-bottom: 20px; }
  #footer-box-wrapper {
    margin: auto;
    padding-left: 20px; }
  #footer-social-row {
    width: 184px;
    margin: auto;
    padding-top: 20px; } }

@media only screen and (max-width: 485px) {
  footer li {
    font-size: 12px; }
  footer h3 {
    font-size: 12px; }
  footer p {
    font-size: 12px; }
  #sheepbuy-desc {
    font-size: 12px; }
  .footer-box {
    width: 50%; }
    .footer-box:nth-last-child(1) {
      float: none;
      clear: both; } }

/* === LOGIN SECTION === */
.login {
  height: 22px;
  margin: auto;
  margin-top: 8px;
  opacity: 0.7;
  color: #161616;
  font-family: Nunito, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  width: 1500px; }

#mobile-login-register {
  height: 22px;
  margin: auto;
  margin-top: 8px;
  opacity: 0.7;
  color: #161616;
  font-family: Nunito, Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  float: right; }
  #mobile-login-register a {
    font-weight: bold; }

#buy-sell {
  float: left; }

#login-register {
  float: right; }
  #login-register a {
    font-weight: bold; }

/* === SEARCH SECTION === */
.search {
  width: 1500px;
  margin: auto;
  height: 100px;
  padding-top: 43px; }

#logo {
  float: left;
  margin-top: 14px; }
  #logo img {
    width: 175px; }

#search-bar {
  float: left;
  border: 1px solid #ebebeb;
  margin-left: 250px;
  border-radius: 5px; }
  #search-bar input:focus {
    outline: none; }

.custom-select {
  position: relative;
  width: 160px;
  height: 48px;
  font-size: 14px;
  border-right: 1px solid #ebebeb;
  float: left; }
  .custom-select select {
    display: none; }

.select-selected {
  background-color: #F6F7F7;
  color: #44AAED;
  height: 32px;
  line-height: 32px;
  color: #44AAED;
  padding: 8px 16px;
  cursor: pointer; }
  .select-selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #D8D9DB transparent transparent transparent; }

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #D8D9DB transparent;
  top: 16px; }

.select-items {
  position: absolute;
  background-color: #F6F7F7;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99; }
  .select-items div {
    color: #44AAED;
    padding: 8px 16px;
    cursor: pointer; }
    .select-items div:hover {
      background-color: rgba(0, 0, 0, 0.1); }

.select-hide {
  display: none; }

.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1); }

.search-input {
  float: left;
  height: 48px;
  width: 500px; }
  .search-input input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #464855;
    padding-left: 30px;
    font-family: Montserrat, Arial, sans-serif; }
    .search-input input::-webkit-input-placeholder {
      color: gray;
      opacity: 1; }
    .search-input input:-ms-input-placeholder {
      color: gray;
      opacity: 1; }
    .search-input input::-ms-input-placeholder {
      color: gray;
      opacity: 1; }
    .search-input input::placeholder {
      color: gray;
      opacity: 1; }
    .search-input input:-ms-input-placeholder {
      color: gray; }
    .search-input input::-ms-input-placeholder {
      color: gray; }

.search-button {
  height: 48px;
  width: 60px;
  padding: 0;
  background-color: #ECF6FD;
  background-image: url("../img/magnifier.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  float: left; }

#start-selling {
  width: 230px;
  height: 48px;
  line-height: 48px;
  background-color: #44AAED;
  color: white;
  font-weight: 600;
  text-align: center;
  float: right;
  border-radius: 5px;
  position: relative; }
  #start-selling a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* === PRODUCTS SECTION === */
#products-container {
  width: 100%;
  padding-bottom: 50px;
  background-color: #F5F6F8; }

#products-header {
  height: 31px;
  margin-bottom: 30px; }
  #products-header li {
    list-style-type: none;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 10px;
    font-size: 16px;
    -webkit-transition: color 0.5s, border-color 0.5s;
    -o-transition: color 0.5s, border-color 0.5s;
    transition: color 0.5s, border-color 0.5s; }
    #products-header li:hover {
      color: #44AAED;
      border-color: #44AAED;
      border-width: 3px;
      padding-bottom: 9px; }

#products {
  width: 1500px;
  margin: auto;
  padding-top: 60px; }

.products-title {
  color: #464855;
  font-size: 20px;
  font-weight: 600;
  float: left; }

#view-all {
  color: #44AAED;
  margin-left: 15px;
  margin-top: 4px;
  float: left; }

#product-categories {
  font-size: 0;
  float: right;
  padding: 0; }

#active-category {
  color: #44AAED;
  border-bottom: 3px solid #44AAED !important;
  padding-bottom: 9px !important; }

.product-categories-slick .slick-slide {
  margin-left: 0px; }

.product-categories-slick .slick-list {
  margin-left: 20px; }

.product-categories-slick .slick-arrow {
  display: none !important; }

.product-row {
  width: 100%;
  height: 330px;
  margin-bottom: 50px; }

.product-item {
  width: 22.75%;
  height: 100%;
  float: left;
  margin-right: 3%;
  border-radius: 10px;
  overflow: hidden; }
  .product-item:nth-last-child(1) {
    margin-right: 0; }

.product-img {
  width: 100%;
  height: 70%;
  background-color: white;
  background-image: url("../img/sample-product2.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  border-radius: 10px;
  overflow: hidden; }

.product-description {
  width: 100%;
  height: 30%;
  background-color: white;
  border-bottom-right-radius: 10px;
  overflow: hidden; }

.product-title {
  color: #464855;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 15px; }

.product-category {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 12px;
  color: #898EA2;
  text-align: center;
  background-color: #F6F7F7;
  width: 120px;
  height: 30px;
  line-height: 30px;
  float: left; }

.price-shipping {
  width: 120px;
  float: right;
  text-align: right;
  padding-right: 30px;
  padding-top: 10px; }

.product-price {
  color: #464855;
  font-weight: 800;
  font-size: 20px;
  margin-top: 3px; }

.product-shipping {
  width: 100%;
  font-size: 12px;
  text-align: right;
  color: #7C7D81; }

.products-slick {
  clear: both;
  padding-top: 20px; }
  .products-slick .slick-slide {
    margin-left: 60px; }
  .products-slick .slick-list {
    margin-left: 20px; }
  .products-slick .slick-arrow {
    display: none !important; }

#browse-more {
  width: 22.75%;
  height: 60px;
  background-color: #EBF1F7;
  color: #44AAED;
  font-weight: 600;
  text-align: center;
  line-height: 60px;
  margin: auto;
  position: relative; }
  #browse-more a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* === WHY TRY SECTION === */
#why-try {
  width: 1500px;
  margin: auto;
  text-align: center;
  overflow: auto;
  margin-bottom: 75px; }
  #why-try h1 {
    margin-top: 75px;
    margin-bottom: 10px;
    color: #464855;
    font-weight: 600; }
  #why-try h2 {
    margin-bottom: 10px;
    color: #464855;
    font-weight: 600; }
  #why-try img {
    height: 30px;
    width: 30px;
    margin-bottom: 15px; }

.description {
  color: #90929D;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px; }

.why-box {
  width: 20%;
  float: left; }

#why-row1 {
  margin-top: 50px;
  overflow: auto; }
  #why-row1 .why-box {
    margin-right: 20%; }
    #why-row1 .why-box:nth-last-child(1) {
      margin-right: 0; }

#why-row2 {
  overflow: auto; }
  #why-row2 .why-box {
    margin-top: 40px;
    margin-left: 20%; }

/* === PACKAGES SECTION === */
#packages-container {
  width: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #F5F6F8; }

#packages {
  width: 1500px;
  margin: auto;
  text-align: center; }
  #packages h1 {
    margin-bottom: 5px;
    color: #464855;
    font-weight: 600; }

.packages-slick {
  padding-top: 20px; }
  .packages-slick .slick-arrow {
    display: none !important; }

#packages-subtitle {
  color: #464855;
  font-weight: 600;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px; }

#packages-row {
  width: 100%;
  overflow: auto;
  margin-top: 30px;
  margin-bottom: 40px; }

.package-box {
  float: left;
  width: 28%;
  margin-right: 8%;
  background-color: white;
  -webkit-box-shadow: 0 2px 6px 0 rgba(69, 73, 91, 0.08);
  box-shadow: 0 2px 6px 0 rgba(69, 73, 91, 0.08); }
  .package-box:nth-last-child(1) {
    margin-right: 0; }

.package-title {
  color: #3DA7ED;
  font-weight: bold;
  margin-top: 30px; }

.package-description {
  color: #90929D;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px; }

.package-price {
  margin-top: 30px;
  margin-bottom: 10px;
  color: #353535;
  font-size: 48px;
  font-weight: 600; }
  .package-price span {
    font-size: 20px; }

.package-details {
  font-weight: 600;
  color: #363636;
  font-size: 14px;
  margin-top: 20px; }

.package-button {
  width: 90%;
  height: 48px;
  line-height: 48px;
  background-color: #44AAED;
  color: white;
  font-weight: 600;
  text-align: center;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative; }
  .package-button a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.package-note {
  font-size: 12px;
  color: #363636;
  padding-left: 20px;
  padding-right: 20px; }

/* === MEDIA QUERIES === */
@media only screen and (max-width: 1510px) {
  .login, .search, #products, #why-try, #packages {
    width: 950px; }
  h1 {
    font-size: 20px; }
  h2, .product-price {
    font-size: 16px; }
  .search-input {
    width: 250px; }
    .search-input input {
      font-size: 14px; }
  #start-selling {
    font-size: 14px;
    width: 170px; }
  #view-all {
    font-size: 14px; }
  #product-categories li {
    font-size: 14px; }
  .product-title {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 8px; }
  #browse-more {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 400px; }
  .description {
    font-size: 14px; }
  .custom-select {
    font-size: 12px;
    width: 145px; }
  .product-category {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 8px;
    width: 75px;
    height: 20px;
    line-height: 20px; }
  .product-shipping {
    font-size: 10px; }
  #logo img {
    width: 140px; }
  #search-bar {
    margin-left: 75px; }
  .product-row {
    height: 220px; }
  .price-shipping {
    padding-right: 8px;
    padding-top: 0; }
  .package-button {
    width: 80%; } }

@media only screen and (max-width: 965px) {
  .package-title {
    font-size: 14px; }
  .package-description, .package-details {
    font-size: 12px; }
  .package-price {
    font-size: 30px; }
    .package-price span {
      font-size: 15px; }
  .package-note {
    font-size: 10px; }
  .login {
    width: 100%; }
  .search {
    width: 100%;
    height: auto;
    padding-top: 0; }
  #products {
    width: 100%;
    padding-top: 30px; }
  #why-try {
    width: 100%;
    margin-bottom: 30px; }
    #why-try h1 {
      margin-top: 30px; }
  #packages {
    width: 100%; }
  .mobile-hidden {
    display: none; }
  .desktop-hidden {
    display: block; }
  a.desktop-hidden {
    display: initial; }
  #logo {
    padding-left: 20px;
    margin-bottom: 30px; }
  #mobile-login-register {
    padding-right: 20px;
    padding-top: 7px;
    margin-bottom: 30px; }
  #packages-container {
    padding-top: 30px;
    padding-bottom: 30px; }
  #products-container {
    padding-bottom: 30px; }
  #search-bar {
    float: none;
    clear: both;
    width: 606px;
    margin: auto;
    margin-bottom: 20px;
    height: 48px; }
  .search-input {
    width: 400px; }
  #start-selling {
    float: none;
    clear: both;
    margin: auto;
    margin-bottom: 30px;
    width: 606px; }
  .products-title {
    margin-left: 20px;
    margin-top: 20px; }
  #product-categories {
    float: none;
    clear: both;
    margin-left: 20px; }
  .product-item {
    height: 330px;
    width: 341px;
    margin-right: 0; }
  .product-title {
    font-size: 16px;
    padding-top: 15px;
    padding-left: 15px; }
  .product-category {
    margin-top: 15px;
    margin-left: 15px;
    font-size: 12px;
    width: 120px;
    height: 30px;
    line-height: 30px; }
  .price-shipping {
    width: 120px;
    padding-right: 30px;
    padding-top: 10px; }
  .product-price {
    font-size: 20px;
    margin-top: 3px; }
  .product-shipping {
    font-size: 12px; }
  .why-box {
    width: 25%; }
  #why-row1 {
    margin: auto;
    width: 90%; }
    #why-row1 .why-box {
      margin-right: 12.5%; }
      #why-row1 .why-box:nth-last-child(1) {
        margin-right: 0; }
  #why-row2 {
    margin: auto;
    width: 90%; }
    #why-row2 .why-box {
      margin-left: 16.66%; }
  #packages-row {
    margin: auto;
    width: 90%; }
  .package-box {
    width: 31%;
    margin-right: 3.5%; } }

@media only screen and (max-width: 630px) {
  .mobile-hidden-630 {
    display: none; }
  .desktop-hidden-630 {
    display: block; }
  .search-input {
    width: 250px; }
  #search-bar, #start-selling {
    width: 456px; }
  .package-box {
    text-align: center;
    width: 280px;
    height: 350px; }
  .why-box {
    float: none;
    clear: both;
    padding: 0;
    margin: auto;
    margin-bottom: 20px;
    width: 300px; }
  #why-try .divider {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%; }
  .description {
    padding-left: 20px;
    padding-right: 20px; } }

@media only screen and (max-width: 485px) {
  .product-price {
    font-size: 16px; }
  .product-title {
    font-size: 14px;
    padding-top: 5px;
    padding-left: 8px; }
  .product-category {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 8px;
    width: 75px;
    height: 20px;
    line-height: 20px; }
  .product-shipping {
    font-size: 10px; }
  #mobile-login-register {
    font-size: 12px; }
  .search-input {
    height: 40px;
    width: 211px; }
    .search-input input {
      font-size: 12px;
      padding-left: 10px; }
  #start-selling {
    font-size: 12px;
    height: 40px;
    width: 311px;
    line-height: 40px; }
  #view-all {
    font-size: 12px; }
  #browse-more {
    font-size: 12px;
    width: 311px; }
  .description {
    font-size: 12px; }
  .custom-select {
    font-size: 10px;
    height: 40px;
    width: 69px; }
  #logo img {
    width: 110px; }
  #logo-white {
    width: 110px; }
  #search-bar {
    height: 40px;
    height: 40px;
    width: 311px; }
  .search-button {
    height: 40px;
    width: 30px;
    background-size: 15px 15px; }
  .select-selected {
    height: 24px;
    line-height: 24px;
    text-align: center;
    padding-left: 5px; }
    .select-selected:after {
      top: 17px;
      right: 8px; }
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #D8D9DB transparent;
    top: 11px; }
  .select-items div {
    padding-left: 5px; }
  .product-item {
    height: 216px;
    width: 220px; }
  .price-shipping {
    padding-right: 8px;
    padding-top: 0; }
  .products-slick .slick-slide {
    margin-left: 40px; }
  .package-box {
    height: 280px; }
  .package-title {
    margin-top: 15px; }
  .package-price {
    margin-top: 15px; }
  .package-description {
    margin-bottom: 15px; }
  .package-button {
    margin-bottom: 15px;
    margin-top: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 14px; } }

/* === MY PROFILE === */
/* Same styles as product-container in style.scss. Can be put together and given the same name */
#profile-container {
  width: 100%;
  padding-bottom: 50px;
  background-color: #F5F6F8;
  overflow: auto;
  overflow-x: hidden; }

.desktop-hidden-750 {
  display: none; }

/* Could be moved (along with #mobile-login-register below) to style.scss. Probably add a class like "logged-in" for when the user is logged in and add these specific styles with &.logged-in{} in style.scss */
#login-register, #mobile-login-register {
  position: relative; }
  #login-register span, #mobile-login-register span {
    font-weight: bold;
    margin-left: 0px;
    margin-right: 0px; }
    #login-register span a, #mobile-login-register span a {
      font-weight: normal;
      color: #44AAED;
      margin-left: 20px;
      margin-right: 22px; }
  #login-register img, #mobile-login-register img {
    height: 15px;
    position: absolute;
    top: 0;
    right: 0; }

#mobile-login-register span a {
  font-weight: 600;
  margin-right: 16px;
  font-size: 14px; }

#mobile-login-register img {
  top: 6px;
  right: 10px; }

/* Similar to #products in style.scss, but with different padding. Could probably make these the same and change spacing a different, page-specific element */
#profile {
  width: 1500px;
  margin: auto;
  padding-top: 20px;
  overflow: auto;
  overflow-x: hidden; }

.checkout-banner {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-color: #F6EFD1;
  -webkit-box-shadow: 1px 0 0 0 #FFFFFF;
  box-shadow: 1px 0 0 0 #FFFFFF;
  border-radius: 4px;
  color: #464855;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  margin-bottom: 30px;
  display: table; }
  .checkout-banner div {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px; }
  .checkout-banner p {
    margin: 0; }
  .checkout-banner .banner-header {
    font-size: 16px;
    margin-bottom: 8px; }
    .checkout-banner .banner-header span {
      font-weight: bold;
      font-size: 18px; }
  .checkout-banner a {
    color: #44AAED; }

.profile-right {
  float: right;
  width: 1180px; }
  .profile-right.checkout {
    float: none;
    margin: auto; }
    .profile-right.checkout .checkout-bottom-text {
      width: 96%;
      text-align: center;
      padding-left: 2%;
      padding-right: 2%;
      padding-bottom: 20px;
      color: #7E7E7E;
      font-weight: 500; }

/* Can be moved to style.scss with more generic name */
.checkout-header {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px; }
  .checkout-header h1 {
    font-weight: 600;
    color: #464855;
    float: left;
    margin-right: 30px;
    font-size: 22px; }

/* The general profile-box settings could be moved to style.scss */
.profile-box {
  width: 1140px;
  background-color: white;
  overflow: auto;
  padding: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 6px 0 rgba(69, 73, 91, 0.08);
  box-shadow: 0 2px 6px 0 rgba(69, 73, 91, 0.08);
  border-radius: 10px; }
  .profile-box h1, .profile-box h2, .profile-box h3 {
    font-weight: 600;
    color: #464855; }
  .profile-box h1 {
    font-size: 22px; }
  .profile-box h2 {
    font-size: 16px; }
  .profile-box h3 {
    font-size: 12px; }
  .profile-box.checkout {
    padding-top: 30px;
    color: #464855;
    /* The container must be positioned relative: */
    /* Style the arrow inside the select element: */
    /* Point the arrow upwards when the select box is open (active): */
    /* style the items (options), including the selected item: */
    /* Style items (options): */
    /* Hide the items when the select box is closed: */
    /* Some similar styles to same class in purchases.scss */
    /* Similar styles to item-cost in order-details.scss, with spacing and font color/weight differences. Divider is longer. */ }
    .profile-box.checkout h1 {
      font-size: 20px;
      font-weight: bold; }
    .profile-box.checkout h2 {
      font-size: 18px;
      font-weight: bold; }
    .profile-box.checkout h3 {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px; }
      .profile-box.checkout h3 span {
        color: #44AAED;
        margin-right: 15px; }
    .profile-box.checkout .shipping-box {
      border: 1px solid #D5D5D8;
      border-radius: 6px;
      width: 100%;
      height: 150px;
      margin-bottom: 40px; }
      .profile-box.checkout .shipping-box h3 {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px; }
      .profile-box.checkout .shipping-box p {
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 14px;
        padding-left: 20px; }
      .profile-box.checkout .shipping-box .divider {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px; }
    .profile-box.checkout .subject-select {
      position: relative;
      font-family: Montserrat, Arial, sans-serif;
      color: #464855;
      font-weight: 500;
      border-radius: 4px;
      font-size: 14px;
      margin-left: 20px;
      margin-bottom: 20px;
      margin-top: 20px;
      width: 240px;
      height: 36px;
      line-height: 36px; }
    .profile-box.checkout .subject-select select {
      display: none;
      /*hide original SELECT element: */ }
    .profile-box.checkout .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: 10px;
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: #464855 transparent transparent transparent; }
    .profile-box.checkout .select-selected.select-arrow-active:after {
      border-color: transparent transparent #464855 transparent;
      top: 8px; }
    .profile-box.checkout .select-items div, .profile-box.checkout .select-selected {
      color: #464855;
      padding: 8px 16px;
      cursor: pointer; }
    .profile-box.checkout .select-items div {
      border: none;
      height: 20px;
      line-height: 20px; }
    .profile-box.checkout .select-selected {
      background-color: #F6F7F7;
      padding: 0;
      padding-left: 10px;
      height: 36px;
      line-height: 36px;
      text-align: left; }
    .profile-box.checkout .select-items {
      position: absolute;
      background-color: #F6F7F7;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 99; }
    .profile-box.checkout .select-hide {
      display: none; }
    .profile-box.checkout .select-items div:hover, .profile-box.checkout .same-as-selected {
      background-color: rgba(0, 0, 0, 0.1); }
    .profile-box.checkout .header-review, .profile-box.checkout .header-price, .profile-box.checkout .header-quantity, .profile-box.checkout .header-subtotal {
      float: left; }
    .profile-box.checkout .header-review {
      width: 50%; }
    .profile-box.checkout .header-price, .profile-box.checkout .header-quantity, .profile-box.checkout .header-subtotal {
      width: 16.66%;
      font-size: 14px; }
    .profile-box.checkout .purchased-item-box {
      float: none;
      clear: both;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 20px;
      overflow: auto;
      background-color: #F6F7F7;
      position: relative; }
      .profile-box.checkout .purchased-item-box h2 {
        margin-bottom: 10px;
        padding-right: 10px; }
      .profile-box.checkout .purchased-item-box p {
        font-size: 14px;
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 5px; }
        .profile-box.checkout .purchased-item-box p span {
          font-weight: 300; }
      .profile-box.checkout .purchased-item-box .img-info-wrapper {
        width: 50%;
        overflow: auto;
        float: left; }
      .profile-box.checkout .purchased-item-box .item-img {
        margin-left: 20px;
        float: left;
        background-image: url("../img/sample-product2.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        width: 151px;
        height: 138px;
        border-radius: 10px; }
      .profile-box.checkout .purchased-item-box .item-info {
        padding-top: 8px;
        float: left;
        margin-left: 20px; }
      .profile-box.checkout .purchased-item-box .item-price, .profile-box.checkout .purchased-item-box .item-quantity, .profile-box.checkout .purchased-item-box .item-subtotal {
        float: left;
        width: 16.66%;
        font-size: 14px;
        overflow: auto; }
      .profile-box.checkout .purchased-item-box .item-price, .profile-box.checkout .purchased-item-box .item-subtotal {
        height: 38px;
        line-height: 38px; }
      .profile-box.checkout .purchased-item-box .item-quantity input {
        width: 50%;
        height: 38px;
        line-height: 38px;
        color: #464855;
        font-size: 14px;
        font-family: Montserrat, Arial, sans-serif;
        border: 1px solid #ECECED;
        -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);
        padding-left: 10px; }
        .profile-box.checkout .purchased-item-box .item-quantity input:focus {
          outline: none; }
    .profile-box.checkout .checkout-total {
      width: 150px;
      float: right;
      margin-right: 60px;
      margin-bottom: 40px; }
      .profile-box.checkout .checkout-total p {
        width: 100%;
        margin-bottom: 6px;
        margin-top: 6px;
        position: relative;
        color: #85868f;
        font-weight: bold;
        font-size: 14px; }
        .profile-box.checkout .checkout-total p span {
          position: absolute;
          top: 0;
          right: 0;
          font-weight: 600; }
      .profile-box.checkout .checkout-total h2 {
        width: 100%;
        position: relative; }
        .profile-box.checkout .checkout-total h2 span {
          position: absolute;
          top: 0;
          right: 0; }
      .profile-box.checkout .checkout-total .divider {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 110%; }
    .profile-box.checkout .checkout-cancel-pay {
      width: 100%;
      float: none;
      clear: both;
      overflow: auto;
      padding-bottom: 20px;
      /* Similar styles to the button in product-details */ }
      .profile-box.checkout .checkout-cancel-pay .cancel-order {
        float: left;
        width: 190px;
        height: 45px;
        line-height: 45px;
        margin-top: 4px;
        color: #44AAED;
        border: 1px solid #44AAED;
        border-radius: 10px;
        text-align: center;
        font-weight: 600;
        position: relative; }
        .profile-box.checkout .checkout-cancel-pay .cancel-order a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      .profile-box.checkout .checkout-cancel-pay .paypal {
        float: right;
        width: 275px;
        height: 53px;
        background-image: url(../img/paypal.png);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative; }
        .profile-box.checkout .checkout-cancel-pay .paypal a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }

/* === Mobile Styles === */
/* Uses similar styles to #products-header {li{}} in style.scss. A lot of styles could be combined */
.review-mobile-spacing {
  width: 40%;
  display: none;
  float: left;
  height: 1px; }

.log-out-mobile {
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: #ECECED;
  color: #464855;
  text-align: center;
  font-weight: 600;
  position: relative; }
  .log-out-mobile img {
    height: 16px;
    margin-right: 20px; }
  .log-out-mobile a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* === MEDIA QUERIES === */
@media only screen and (max-width: 1510px) {
  #profile {
    width: 950px; }
  .profile-right {
    width: 740px; }
  .profile-box {
    width: 700px; }
    .profile-box.checkout .purchased-item-box .item-img {
      width: 120px;
      height: 110px; }
    .profile-box.checkout .purchased-item-box .item-info {
      width: 50%; } }

@media only screen and (max-width: 965px) {
  #profile {
    width: 100%; }
  .checkout-banner {
    width: 740px;
    margin-left: auto;
    margin-right: auto; } }

@media only screen and (max-width: 750px) {
  .mobile-hidden-750 {
    display: none; }
  .desktop-hidden-750 {
    display: block; }
  .checkout-banner {
    width: 410px;
    font-size: 12px; }
    .checkout-banner .banner-header {
      font-size: 14px; }
      .checkout-banner .banner-header span {
        font-size: 16px; }
  .profile-right {
    width: 450px; }
    .profile-right.checkout .checkout-bottom-text {
      font-size: 12px; }
  .profile-box {
    width: 410px; }
    .profile-box.checkout .header-quantity, .profile-box.checkout .header-subtotal {
      width: 25%; }
    .profile-box.checkout .purchased-item-box .item-img {
      display: none; }
    .profile-box.checkout .purchased-item-box .item-info {
      width: 100%;
      margin: 0; }
      .profile-box.checkout .purchased-item-box .item-info h2 {
        padding-left: 10px;
        font-size: 14px; }
    .profile-box.checkout .purchased-item-box .item-quantity, .profile-box.checkout .purchased-item-box .item-subtotal {
      width: 25%; }
    .profile-box.checkout .checkout-total {
      margin-right: 10px; }
    .profile-box.checkout .checkout-cancel-pay .cancel-order {
      float: none;
      clear: both;
      margin: auto; }
    .profile-box.checkout .checkout-cancel-pay .paypal {
      float: none;
      clear: both;
      margin: auto;
      margin-bottom: 20px; } }

@media only screen and (max-width: 460px) {
  .checkout-banner {
    width: 90%; }
  .checkout-header {
    margin-left: 8px; }
  .profile-right {
    width: 100%; }
  .profile-box.checkout {
    border-radius: 0;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%; }
    .profile-box.checkout .header-review {
      float: none;
      clear: both;
      width: 100%; }
    .profile-box.checkout .header-quantity {
      font-size: 12px;
      width: 30%; }
    .profile-box.checkout .header-subtotal {
      font-size: 12px;
      width: 30%; }
    .profile-box.checkout .purchased-item-box .img-info-wrapper {
      width: 40%; }
    .profile-box.checkout .purchased-item-box .item-info h2 {
      font-size: 12px; }
    .profile-box.checkout .purchased-item-box .item-quantity {
      width: 30%; }
      .profile-box.checkout .purchased-item-box .item-quantity input {
        font-size: 12px;
        width: 80%; }
    .profile-box.checkout .purchased-item-box .item-subtotal {
      font-size: 12px;
      width: 30%; }
    .profile-box.checkout .checkout-cancel-pay .paypal {
      width: 250px;
      height: 48px; }
  .review-mobile-spacing {
    display: block; }
  .log-out-mobile {
    width: 90%;
    margin: auto; } }
