/* Colors */
$dark: #161616;
$sheep_blue: #44AAED;
$heading_color: #464855;
$item_category_text: #898EA2;
$product_shipping_text: #7C7D81;
$description_text: #90929D;
$package_title_text: #3DA7ED;
$package_price_text: #353535;
$package_details_text: #363636;
$search_category_gray: #F6F7F7;
$search_category_highlight: rgba(0, 0, 0, 0.1);
$search_magnifier_background: #ECF6FD;
$products_packages_containers_background: #F5F6F8;
$browse_more_background: #EBF1F7;

/* Fonts */
$nunito: Nunito, Arial, sans-serif;
$montserrat: Montserrat, Arial, sans-serif;

/* Borders */
$select_box_border: #D8D9DB transparent transparent transparent;
$select_arrow_border: transparent transparent #D8D9DB transparent;

@import 'style.scss';

/* === EDIT LISTING === */

/* Same styles as product-container in style.scss. Can be put together and given the same name */
#profile-container {
	width: 100%;
	padding-bottom: 50px;
	background-color: $products_packages_containers_background;
	overflow: auto;
	overflow-x: hidden;
}

/* Could be moved (along with #mobile-login-register below) to style.scss. Probably add a class like "logged-in" for when the user is logged in and add these specific styles with &.logged-in{} in style.scss */
#login-register, #mobile-login-register{
	position: relative;
	span{
		font-weight: bold;
		margin-left: 0px;
		margin-right: 0px;
		a{
			font-weight: normal;
			color: $sheep_blue;
			margin-left: 20px;
			margin-right: 22px;
		}
	}
	img{
		height: 15px;
		position: absolute;
		top: 0;
		right: 0;
	}
}
#mobile-login-register{
	span{
		a{
			font-weight: 600;
			margin-right: 16px;
			font-size: 14px;
		}
	}
	img{
		top: 6px;
		right: 10px;
	}
}

.desktop-hidden-750{
	display: none;
}

/* Similar to #products in style.scss, but with different padding. Could probably make these the same and change spacing a different, page-specific element */
#profile{
	width: 1500px;
	margin: auto;
	padding-top: 20px;
	overflow: auto;
	overflow-x: hidden;
}

.edit-listing-header{
	color: $heading_color;
	width: 100%;
	height: 40px;
	line-height: 40px;
	position: relative;
	margin-bottom: 20px;
	.back{
		width: 70px;
		height: 40px;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 12px;
		font-weight: 600;
		span{
			margin-right: 8px;
			color: $sheep_blue;
			font-size: 20px;
		}
		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	h1{
		width: 100%;
		text-align: center;
		font-size: 22px;
	}
}

.side-content{
	width: 300px;
	float: right;
}

.main-content{
	float: left;
	width: 1180px;
}

.side-box{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
	border-radius: 10px;
	color: $heading_color;
	box-shadow: 0 2px 6px 0 rgba(69,73,91,0.08);
	margin-bottom: 20px;
	h2{
		font-size: 16px;
		padding-right: 20px;
		margin-bottom: 20px;
		position: relative;
		img{
			position: absolute;
			top: 3px;
			right: 0;
			width: 16px;
			height: 16px;
		}
	}
	p{
		font-family: 'Lato', sans-serif;
		font-size: 14px;
		margin-top: 30px;
		margin-bottom: 20px;
		color: $package_details_text;
		text-align: center;
	}
	.row{
		width: 100%;
		height: 40px;
		line-height: 40px;
		position: relative;
		.left-content{
			height: 40px;
			float: left;
			font-weight: 500;
			color: #7E7E7E;
			font-size: 12px;
		}
		.right-content{
			float: right;
			font-weight: bold;
			u{
				text-decoration: underline;
			}
		}
	}
	.list-item-button, .save-learn-buttons{
		width: 100%;
		box-sizing: border-box;
		margin: auto;
		height: 45px;
		line-height: 45px;
		font-weight: 600;
		text-align: center;
		border-radius: 10px;
		position: relative;
		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.list-item-button{
		margin-top: 20px;
		margin-bottom: 20px;
		color: white;
		background-color: $sheep_blue;
	}
	.save-learn-buttons{
		color: $sheep_blue;
		border: 1px solid $sheep_blue;
		margin-bottom: 10px;
	}
	.edit-custom-select3 {
		width: 200px;
		float: right;
		position: absolute;
		top: 0;
		right: -30px;
		font-family: $montserrat;
		color: $heading_color;
		font-weight: 500;
		border-radius: 4px;
		box-shadow: 0 2px 1px 0 rgba(0,0,0,0.03);
	}
	.edit-custom-select3 select{
		display: none;
	}
	/* Style the arrow inside the select element: */
	.select-selected:after {
	  position: absolute;
	  content: "";
	  top: 17px;
	  right: 10px;
	  width: 0;
	  height: 0;
	  border: 6px solid transparent;
	  border-color: $sheep_blue transparent transparent transparent;
	}

	/* Point the arrow upwards when the select box is open (active): */
	.select-selected.select-arrow-active:after {
	  border-color: transparent transparent $sheep_blue transparent;
	  top: 11px;
	}

	/* style the items (options), including the selected item: */
	.select-items div,.select-selected {
	  color: $heading_color;
	  cursor: pointer;
	}
	
	.select-selected {
	  color: $heading_color;
	  font-weight: bold;
	  padding: 0;
	  padding-right: 29px;
	  text-align: right;
	  background: none;
	  height: 40px;
	  line-height: 40px;
	}

	/* Style items (options): */
	.select-items {
	  position: absolute;
	  width: 180px;
	  border-bottom: 1px solid silver;
	  border-right: 1px solid silver;
	  border-left: 1px solid silver;
	  background-color: white;
	  top: 100%;
	  left: auto;
	  right: 0;
	  z-index: 99;
	  max-height: 200px;
	  overflow-y: auto;
	  div{
		height: 20px;
		line-height: 20px;
		background-color: $search_category_gray;
	  }
	}

	/* Hide the items when the select box is closed: */
	.select-hide {
	  display: none;
	}

	.select-items div:hover, .same-as-selected {
	  background-color: rgba(0, 0, 0, 0.1);
	}
}

.content-box{
	width: 95%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	padding-top: 30px;
	padding-bottom: 30px;
	color: $heading_color;
	background-color: white;
	overflow: auto;
	margin-bottom: 20px;
	box-shadow: 0 2px 6px 0 rgba(69,73,91,0.08);
	border-radius: 10px;
	h2{
		font-size: 16px;
		margin-bottom: 40px;
	}
	h3{
		font-size: 12px;
		margin-bottom: 10px;
		span{
			font-weight: 300;
			color: $package_details_text;
		}
	}
	.item-location{
		font-size: 14px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.image-description{
		font-size: 12px;
		font-weight: 300;
		color: $package_details_text;
		margin: 0;
		line-height: 22px;
		span{
			font-weight: 500;
		}
	}
	.select2-container{
		margin-bottom: 20px;
	}
	.select2-container--default .select2-selection--single{
		outline: none;
		border: none;
		border-radius: 4px;
		height: 36px;
		line-height: 36px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		font-family: $montserrat;
		color: $heading_color;
		font-weight: 500;
		background-color: $search_category_gray;
		font-size: 14px;
		height: 36px;
		line-height: 36px;
	}
	.select2-container--default .select2-selection--single .select2-selection__placeholder{
		color: #9D9FA6;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		right: 10px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b{
		top: 14px;
		right: 10px;
		width: 0;
		height: 0;
		border: 6px solid transparent;
		border-color: $heading_color transparent transparent transparent;
	}
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
		border-color: transparent transparent $heading_color transparent;
		top: 8px;
	}
	.select2-results__option{
		color: $heading_color;
	}
	/* The container must be positioned relative: */
	.edit-custom-select, .edit-custom-select2{
	  position: relative;
	  width: 100%;
	  font-family: $montserrat;
	  color: $heading_color;
	  font-weight: 500;
	  border-radius: 4px;
	  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.03);
	  font-size: 14px;
	  margin-bottom: 20px;
	  background-color: $search_category_gray;
	}

	.edit-custom-select select, .edit-custom-select2 select{
	  display: none; /*hide original SELECT element: */
	}

	/* Style the arrow inside the select element: */
	.select-selected:after {
	  position: absolute;
	  content: "";
	  top: 14px;
	  right: 10px;
	  width: 0;
	  height: 0;
	  border: 6px solid transparent;
	  border-color: $heading_color transparent transparent transparent;
	}

	/* Point the arrow upwards when the select box is open (active): */
	.select-selected.select-arrow-active:after {
	  border-color: transparent transparent $heading_color transparent;
	  top: 8px;
	}

	/* style the items (options), including the selected item: */
	.select-items div,.select-selected {
	  color: $heading_color;
	  padding: 8px 16px;
	  cursor: pointer;
	  background-color: $search_category_gray;
	}
	
	.select-selected {
	  color: #9D9FA6;
	  background-color: $search_category_gray;
	  padding: 0;
	  padding-left: 10px;
	  height: 36px;
	  line-height: 36px;
	  text-align: left;
	}

	/* Style items (options): */
	.select-items {
	  position: absolute;
	  border-bottom: 1px solid silver;
	  border-right: 1px solid silver;
	  border-left: 1px solid silver;
	  background-color: white;
	  top: 100%;
	  left: 0;
	  right: 0;
	  z-index: 99;
	  max-height: 200px;
	  overflow-y: auto;
	}

	/* Hide the items when the select box is closed: */
	.select-hide {
	  display: none;
	}

	.select-items div:hover, .same-as-selected {
	  background-color: rgba(0, 0, 0, 0.1);
	}
	
	
	input[type = "text"], input[type = "number"]{
		width: 100%;
		height: 36px;
		line-height: 36px;
		font-family: $montserrat;
		font-size: 14px;
		font-weight: 500;
		color: $heading_color;
		background-color: $search_category_gray;
		padding-left: 10px;
		border-radius: 4px;
		margin-bottom: 20px;
		&::placeholder{
			color: #9D9FA6;
		}
		&:focus{
			outline: none;
		}
		&:disabled{
			background-color: #EAEAEA;
			color: black;
		}
	}
	.input-dollar{
		position: relative;
		&:before {
			position: absolute;
			top: 1px;
			left: 5px;
			content:"$";
			color: #9D9FA6;
			font-size: 14px;
		}
		input{
			padding-left: 20px;
		}
	}
	
	textarea{
		width: 100%;
		height: 225px;
		font-family: $montserrat;
		font-size: 14px;
		font-weight: 500;
		color: $heading_color;
		background-color: $search_category_gray;
		border-radius: 16px;
		border: none;
		margin-bottom: 20px;
		resize: none;
		box-sizing: border-box;
		padding: 10px;
		&::placeholder{
			color: #9D9FA6;
		}
		&:focus{
			outline: none;
		}
	}
	
	.note-frame *{
		color: $heading_color;
	}
	
	.note-editor.note-frame, .note-toolbar{
		border: none;
	}
	.note-editing-area{
		min-height: 255px;
		border-radius: 16px;
		.note-editable{
			min-height: 255px;
		}
	}
	.note-editor.note-frame .note-editing-area .note-editable{
		background-color: $search_category_gray;
		font-size: 14px;
		color: $heading_color;
		font-weight: 500;
		p{
			margin: 0;
		}
	}
	.note-placeholder{
		font-size: 14px;
		color: #9D9FA6;
		font-weight: 500;
		cursor: text;
	}
	.note-statusbar{
		display: none;
	}
	.note-editor .note-dropzone{
		display: none !important;
	}
}

/* === MOBILE STYLES === */
.side-content.desktop-hidden-750{
	padding: 0;
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 2px 6px 0 rgba(69,73,91,0.08);
	border-radius: 10px;
}

/* === MEDIA QUERIES === */
@media only screen and (max-width:1510px) {
	#profile{
		width: 950px;
	}
	.side-content{
		width: 300px;
		.side-box{
			.row{
				.right-content, .edit-custom-select3{
					font-size: 14px;
				}
			}
		}
	}
	.main-content{
		width: 630px;
		.content-box{
			textarea{
				height: 200px
			}
			.note-editing-area{
				min-height: 200px;
				.note-editable{
					min-height: 200px;
				}
			}
		}
	}
}

@media only screen and (max-width:965px) {
	#profile-container{
		padding-bottom: 0;
	}
	#profile{
		width: 100%;
	}
	.side-content, .main-content{
		clear: both;
		float: none;
		margin: auto;
		width: 740px;
	}
	.edit-listing-header{
		width: 740px;
		margin-left: auto;
		margin-right: auto;
	}
	.side-content{
		.side-box{
			h2{
				text-align: center;
			}
			&.publish{
				.row{
					width: 80%;
					margin-left: auto;
					margin-right: auto;
				}
				.list-item-button, .save-learn-buttons{
					width: 80%;
					margin-left: auto;
					margin-right: auto;
				}
			}
			&.summary{
				width: 210px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 20px;
			}
		}
	}
}

@media only screen and (max-width:750px) {
	.desktop-hidden-750{
		display: block;
	}
	.mobile-hidden-750{
		display: none;
	}
	.side-content, .main-content{
		width: 90%;
		padding-left: 5%;
		padding-right: 5%;
	}
	.edit-listing-header{
		width: 90%;
	}
	.side-content{
		background-color: white;
		.side-box{
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			border-radius: 0;
			box-shadow: none;
			&.publish{
				h2{
					padding: 0;
				}
				.list-item-button, .save-learn-buttons{
					width: 60%;
				}
				.row{
					width: 90%;
				}
			}
		}
	}
	.main-content{
		background-color: white;
		.content-box{
			border-radius: 0;
			box-shadow: none;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 0;
			padding-bottom: 20px;
			h2{
				text-align: center;
			}
			.item-location{
				font-size: 16px;
				text-align: center;
			}
			.image-description{
				text-align: center;
			}
		}
	}
}

@media only screen and (max-width:460px) {
	.edit-listing-header{
		height: auto;
		.back{
			position: static;
		}
	}
	.main-content{
		.content-box{
			h3{
				span{
					font-size: 9px;
				}
			}
		}
	}
}

@media only screen and (max-width:370px) {
	.profile-box{
		&.order-details{
			.purchased-item-box{
				.item-info{
					width: 58%;
				}
			}
		}
	}
}