/* Colors */
$dark: #161616;
$sheep_blue: #44AAED;
$heading_color: #464855;
$item_category_text: #898EA2;
$product_shipping_text: #7C7D81;
$description_text: #90929D;
$package_title_text: #3DA7ED;
$package_price_text: #353535;
$package_details_text: #363636;
$search_category_gray: #F6F7F7;
$search_category_highlight: rgba(0, 0, 0, 0.1);
$search_magnifier_background: #ECF6FD;
$products_packages_containers_background: #F5F6F8;
$browse_more_background: #EBF1F7;

/* Fonts */
$nunito: Nunito, Arial, sans-serif;
$montserrat: Montserrat, Arial, sans-serif;

/* Borders */
$select_box_border: #D8D9DB transparent transparent transparent;
$select_arrow_border: transparent transparent #D8D9DB transparent;

@import 'style.scss';

/* === MY PROFILE === */

/* Same styles as product-container in style.scss. Can be put together and given the same name */
#profile-container {
	width: 100%;
	padding-bottom: 50px;
	background-color: $products_packages_containers_background;
	overflow: auto;
	overflow-x: hidden;
}

/* Could be moved (along with #mobile-login-register below) to style.scss. Probably add a class like "logged-in" for when the user is logged in and add these specific styles with &.logged-in{} in style.scss */
#login-register, #mobile-login-register{
	position: relative;
	span{
		font-weight: bold;
		margin-left: 0px;
		margin-right: 0px;
		a{
			font-weight: normal;
			color: $sheep_blue;
			margin-left: 20px;
			margin-right: 22px;
		}
	}
	img{
		height: 15px;
		position: absolute;
		top: 0;
		right: 0;
	}
}
#mobile-login-register{
	span{
		a{
			font-weight: 600;
			margin-right: 16px;
			font-size: 14px;
		}
	}
	img{
		top: 6px;
		right: 10px;
	}
}

.desktop-hidden-750{
	display: none;
}

/* Similar to #products in style.scss, but with different padding. Could probably make these the same and change spacing a different, page-specific element */
#profile{
	width: 1500px;
	margin: auto;
	padding-top: 20px;
	overflow: auto;
	overflow-x: hidden;
}

.verify-email-banner{
	padding: 5px;
	width: 100%;
	background-color: rgba(61,167,237,0.11);
	box-shadow: 1px 0 0 0 #FFFFFF;
	border-radius: 4px;
	height: 40px;
	line-height: 40px;
	color: $heading_color;
	font-weight: 600;
	font-size: 12px;
	text-align: center;
	margin-bottom: 30px;
	a{
		color: $sheep_blue;
	}
}

.profile-left{
	float: left;
	margin-right: 20px;
	width: 300px;
}

.profile-right{
	float: right;
	width: 1180px;
}

/* Sidebar has similar sizing to results sidebar, so these general styles could be combined in style.scss */
.profile-sidebar{
	width: 100%;
	margin-right: 44px;
	background-color: white;
	border-radius: 10px;
	color: $heading_color;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 14px;
	font-weight: 600;
	box-shadow: 0 2px 6px 0 rgba(69,73,91,0.08);
	margin-bottom: 20px;
	div{
		width: 120px;
		padding-left: 40px;
		height: 40px;
		line-height: 40px;
		font-weight: 600;
		color: $heading_color;
		position: relative;
		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}
		img{
			position: absolute;
			top: 12px;
			left: 12px;
			height: 16px;
		}
		&.active{
			background-color: rgba(68, 170, 237, 0.08);
			color: $sheep_blue;
			border-radius: 0px 20px 20px 0px;
			border-left: 3px solid $sheep_blue;
			img{
				left: 9px;
			}
		}
		&:nth-last-child(1){
			margin-top: 152px;
		}
	}
}

.profile-ad{
	width: 100%;
	height: 250px;
	background-color: silver;
}

.messages-header{
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	h1{
		font-weight: 600;
		color: $heading_color;
		float: left;
		margin-right: 30px;
		font-size: 22px;
	}
	span{
		font-weight: 600;
		margin-left: 10px;
		padding-top: 2px;
		float: left;
		height: 28px;
		text-align: center;
		position: relative;
		width: 80px;
		opacity: 0.5;
		&.active{
			opacity: 1;
			color: $sheep_blue;
			background-color: #E6EFF7;
			border-radius: 20px;
		}
		a{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

/* The general profile-box settings could be moved to style.scss */
.profile-box{
	width: 1140px;
	background-color: white;
	overflow: auto;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 2px 6px 0 rgba(69,73,91,0.08);
	border-radius: 10px;
	h1, h2, h3{
		font-weight: 600;
		color: $heading_color;
	}
	h1{
		font-size: 22px;
	}
	h2{
		font-size: 16px;
	}
	h3{
		font-size: 12px;
	}
	&.messages{
		h3{
			font-size: 14px;
			float: left;
			margin-bottom: 8px;
		}
		.from-heading{
			margin-left: 20px;
			width: 230px;
		}
		.subject-heading{
			width: 780px;
		}
		.date-heading{
			padding-left: 10px;
		}
		.message-list{
			width: 1140px;
			float: none;
			clear: both;
			color: $heading_color;
			font-weight: 300;
			font-size: 14px;
			border-top: 1px solid #ECECED;
			.message-item{
				width: 100%;
				height: 50px;
				display: table;
				table-layout: fixed;
				&:nth-child(odd){
					background-color: #F5F6F8;
				}
				.subject, .from, .date{
					overflow: auto;
					display: table-cell;
					vertical-align: middle;
				}
				.from{
					padding-right: 10px;
					padding-left: 20px;
					width: 220px;
					max-width: 220px;
				}
				.subject{
					width: 780px;
					max-width: 780px;
				}
				.date{
					padding-left: 10px;
				}
			}
		}
	}
}

/* Same styles as results-navigation in style.scss with slight spacing/sizing differences. These can be combined in style.scss */
.messages-navigation{
	overflow: auto;
	.items-per-page{
		float: left;
		color: $heading_color;
		p{
			margin-top: 2px;
			margin-bottom: 7px;
			font-weight: 600;
			font-size: 12px;
		}
		ul{
			margin: 0;
			padding: 0;
		}
		li{
			list-style-type: none;
			float: left;
			margin-right: 5px;
			&:nth-last-child(1){
				margin-right: 0;
			}
		}
		.num-items{
			font-size: 12px;
			width: 30px;
			height: 30px;
			line-height: 30px;
			border-radius: 5px;
			background-color: white;
			border: 1px solid #ebebeb;
			text-align: center;
		}
		.active{
			background-color: $sheep_blue;
			color: white;
		}
	}
	
	.page-nav{
		margin-top: 12px;
		float: right;
		ul{
			padding: 0;
		}
		li{
			list-style-type: none;
			float: left;
			margin-right: 5px;
			&:nth-last-child(1){
				margin-right: 0;
			}
		}
		div{
			width: 25px;
			height: 25px;
			line-height: 25px;
			background-size: 12px 12px;
			background-position: center center;
			background-repeat: no-repeat;
			text-align: center;
			font-weight: 600;
			color: $sheep_blue;
			font-size: 14px;
		}
		
		.page-num{
			&.active{
				color: white;
				background-color: $sheep_blue;
				border-radius: 20px;
			}
		}
		
		.first-arrow{
			background-image: url("../img/first-arrow.png");
			&.disabled{
				background-image: url("../img/first-arrow-disabled.png");
			}
		}
		.back-arrow{
			background-image: url("../img/back-arrow.png");
			&.disabled{
				background-image: url("../img/back-arrow-disabled.png");
			}
		}
		.forward-arrow{
			background-image: url("../img/forward-arrow.png");
			&.disabled{
				background-image: url("../img/forward-arrow-disabled.png");
			}
		}
		.last-arrow{
			background-image: url("../img/last-arrow.png");
			&.disabled{
				background-image: url("../img/last-arrow-disabled.png");
			}
		}
	}
}
/* === Mobile Styles === */

/* Uses similar styles to #products-header {li{}} in style.scss. A lot of styles could be combined */
.profile-options-slick{
	margin-bottom: 20px;
	overflow: hidden;
	.slick-slide {
		margin-left: 0px;
	}
	.slick-list {
		margin-left: 20px;
	}
	.slick-arrow {
		display: none !important;
	}
	li {
		list-style-type: none;
		display: inline-block;
		padding-left: 7px;
		padding-right: 7px;
		text-align: center;
		border-bottom: 1px solid #dbdbdb;
		padding-bottom: 10px;
		font-size: 16px;
		transition: border-color 0.5s;
		img{
			height: 16px;
			margin-right: 10px;
			display: inline-block;
		}
		&:hover {
			border-color: $sheep_blue;
			border-width: 3px;
			padding-bottom: 9px;
		}
	}
}

.log-out-mobile{
	height: 60px;
	line-height: 60px;
	width: 100%;
	background-color: #ECECED;
	color: $heading_color;
	text-align: center;
	font-weight: 600;
	position: relative;
	img{
		height: 16px;
		margin-right: 20px;
	}
	a{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

/* === MEDIA QUERIES === */
@media only screen and (max-width:1510px) {
	#profile{
		width: 950px;
	}
	.profile-left{
		width: 190px;
	}
	.profile-ad{
		height: 158px;
	}
	
	.profile-right{
		width: 740px;
	}
	.profile-box{
		width: 700px;
		&.messages{
			.from-heading{
				width: 140px;
			}
			.subject-heading{
				width: 440px;
			}
			.message-list{
				width: 700px;
				.message-item{
					.from{
						width: 130px;
						max-width: 130px;
					}
					.subject{
						width: 440px;
						max-width: 440px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width:965px) {
	#profile{
		width: 100%;
	}
	
	.verify-email-banner{
		width: 740px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.profile-right{
		clear: both;
		float: none;
		margin: auto;
	}
}

@media only screen and (max-width:750px) {
	.mobile-hidden-750 {
		display: none;
	}
	.desktop-hidden-750 {
		display: block;
	}
	.verify-email-banner{
		line-height: normal;
		width: 410px;
		height: 60px;
		display: table;
		span{
			display: table-cell;
			vertical-align: middle;
		}
	}
	.profile-right{
		width: 450px;
	}
	
	.profile-box{
		width: 410px;
		&.messages{
			.from-heading{
				width: 100px;
			}
			.subject-heading{
				width: 200px;
			}
			.message-list{
				width: 410px;
				font-size: 12px;
				.message-item{
					.from{
						width: 90px;
						max-width: 90px;
					}
					.subject{
						width: 200px;
						max-width: 200px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width:460px) {
	.profile-options-slick{
		.slick-list{
			margin-left: 0;
		}
	}
	.verify-email-banner{
		width: 90%;
		height: 75px;
	}
	.messages-header{
		margin-left: 8px;
		span{
			font-size: 14px;
			height: 28px;
			width: 60px;
			opacity: 0.5;
		}
	}
	.profile-right{
		width: 100%;
	}
	.profile-box{
		&.messages{
			padding-top: 10px;
			padding-bottom: 0;
			padding-left: 0;
			padding-right: 0;
			width: 100%;
			border-radius: 0;
			.from-heading{
				width: 25%;
				margin-left: 10px;
			}
			.subject-heading{
				width: 49%;
			}
			.message-list{
				width: 100%;
				.message-item{
					.from{
						padding-left: 10px;
						padding-right: 10px;
						width: 28%;
						max-width: 28%;
					}
					.subject{
						width: 50%;
						max-width: 50%;
					}
				}
			}
		}
	}
	.log-out-mobile{
		width: 90%;
		margin: auto;
	}
}